<section class="card">
    <header class="card__header">
        <h3>Listado de alumnos</h3>

    </header>
    @if(alumnos().length > 0){
    <div class="card__body">


        <table class="tbl">
            <thead>
                <tr>
                    <th>legajo</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>dni</th>
                    <th>email</th>
                    <th>telefono</th>
                    <th>condicion</th>
                    <th>fechaIngreso</th>
                </tr>
            </thead>
            <tbody>
                @for(alumno of alumnos(); track $index){
                <tr>
                    <td>{{alumno.legajo}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.dni}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.telefono}}</td>
                    <td>{{alumno.condicion}}</td>
                    <td>{{alumno.fechaIngreso | date:'dd/MM/yyyy'}}
                    </td>
                </tr>}
            </tbody>
        </table>
    </div>
    }

</section>