<header class="alumno-header">

  <!-- Marca / Logo -->
  <div class="brand">
    <img src="assets/utn-logo.png" alt="UTN" />
    <div class="title">
      <span>UTN — Autogestión</span>
      <small>Alumnos</small>
    </div>
  </div>

  <!-- Navegación -->
  <nav class="nav">
    <a 
      routerLink="/dashboard/student"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>

    <a 
      routerLink="/dashboard/student/deuda"
      routerLinkActive="active">
      Consulta de Deuda
    </a>

    <a 
      routerLink="/dashboard/student/inscripciones"
      routerLinkActive="active">
      Inscripciones
    </a>

    <a 
      routerLink="/dashboard/student/examenes"
      routerLinkActive="active">
      Exámenes
    </a>

    <a 
      routerLink="/dashboard/student/notas"
      routerLinkActive="active">
      Notas
    </a>

    <a 
      routerLink="/dashboard/student/certificados"
      routerLinkActive="active">
      Certificados
    </a>

    <a class="salir" (click)="logout()">Salir</a>
  </nav>

</header>


<main class="alumno-main">
  <section class="main-surface">
    <!-- Aquí se renderiza cualquier página del área del alumno -->
    <router-outlet></router-outlet>
  </section>
</main>
