<!--#form se utiliza como etiqueta para que funcione el formBuilder y 
se debe incluir el FormGroup para poder utilizar el atributo loginForm -->

<form #form="ngForm" 
(ngSubmit)="submit()"
[formGroup]="loginForm" class="login-form">
    <mat-form-field class="user-form">
        <mat-label>Legajo</mat-label>
        <input id="user" formControlName="user" type="number" matInput placeholder="12345">
        @if (!user?.valid && user?.touched) {
            <mat-error>Campo requerido</mat-error>
        }
    </mat-form-field>
    <mat-form-field class="password-form">
        <mat-label>Contraseña</mat-label>
        <input id="password" formControlName="password" type="password" matInput placeholder="******">
         @if (!password?.valid && password?.touched) {
            <mat-error>Campo requerido</mat-error>
        }
    </mat-form-field>
    <button matButton="elevated">Ingresar</button>
    <p>{{alert()}}</p>

</form>