<div class="login-bg"></div>


<header class="brand">
  <img src="assets/utn-logo.png" alt="UTNMDP" />
  <span>Autogestión UTN</span>
</header>


<div class="login-wrap">
  <div class="login-card">

    <h3 class="card-title">Ingreso</h3>

  
  <mat-button-toggle-group
    [formControl]="role"
    appearance="legacy"
    class="role-toggle"
  >
    <mat-button-toggle value="alumno">Alumno</mat-button-toggle>
    <mat-button-toggle value="admin">Administrativo</mat-button-toggle>
    <mat-button-toggle value="profesor">Profesor</mat-button-toggle>
  </mat-button-toggle-group>


  
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <mat-form-field appearance="outline" class="full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="user" />
        <mat-error *ngIf="user?.touched && user?.invalid">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          formControlName="password" />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePass()"
          [attr.aria-label]="hide() ? 'Mostrar' : 'Ocultar'">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.touched && password?.invalid">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full" type="submit">
        Ingresar
      </button>

      <p class="alert" *ngIf="alert()">{{ alert() }}</p>
    </form>
  </div>
</div>
