
button {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #1d4ed8;
  background: #1d4ed8;
  color: #fff;
  cursor: pointer;       
}


.btn--primary {
  background: #fff;
  color: #1d4ed8;
  cursor: pointer;        
}


.actions {
  display: flex;
  gap: 50px;
  margin-top: 40px;       
  justify-content: center;
}


.actions a,
.actions button {
  cursor: pointer !important;  
}
